<h1>Welcome, <%= @user.name %></h1>

<h2>Books available to borrow:</h2>
<%= form_with url: user_loans_path(@user), method: :post do |form| %>
  <div class="field">
    <%= form.label :book_id, 'Choose a book to borrow:' %>
    <%= form.collection_select :book_id, Book.where('total_copies > 0'), :id, :title %>
  </div>
  <%= form.submit 'Borrow' %>
<% end %>

<h2>Your borrowed books:</h2>
<ul>
  <% @user.loans.each do |loan| %>
    <li>
      <%= loan.book.title %> - Borrowed on <%= loan.loaned_on %>
      <% if loan.returned_on.nil? %>
        <%= link_to 'Return', return_book_user_loan_path(@user, loan.book), method: :patch %>
      <% else %>
        <%= "Returned on #{loan.returned_on}" %>
      <% end %>
    </li>
  <% end %>
</ul>

